pipenv
invoke
knack
genanki
EbookLib
Jinja2
tomli
pydantic
PyYAML
Markdown
frontmatter
markdown-full-yaml-metadata

jdp-cli @ git+https://github.com/dpurge/jdp-cli@e045db4#subdirectory=src/cli
jdp-cli-anki @ git+https://github.com/dpurge/jdp-cli@e045db4#subdirectory=src/anki
jdp-cli-epub @ git+https://github.com/dpurge/jdp-cli@e045db4#subdirectory=src/epub
